[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
marshmallow = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
psycopg2 = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
